
/** Mise en place des boxs**/
.container
{
	max-width: 1190px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	border: 2px grey solid;
}
.row
{
	display: flex;
	height: 100%;
}
.gauche
{
	display: flex;
	flex-direction: column;
	width:30%;
	min-width: 224px;
	background-color: rgb(64,196,255);
	justify-content: space-between;
}
.droite
{
  	display: flex;
  	width: 70%;
}
/** FIN Mise en place des boxs**/

/** Mise en place de la premiere partie **/
header aside
{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 50px;
}
header article
{
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 30px;
}
/** FIN Mise en place de la premiere partie **/

/** Decoration de la premiere partie**/
body
{
	font-family: Roboto, "Open sans", sans-serif;
	margin: 0;
}
img
{
    border-radius: 50%;
    border: 4px solid rgba(64,64,64,0.2);
}
h1
{
	font-size: 60px;
	font-weight: normal;
}
h2
{
	color: rgb(64,64,64);
}
 h1 em
{
  	font-style: normal;
  	color: rgb(64,196,255);
}
h2 em
{
	font-style: normal;
	border-bottom: 2px solid rgb(64,196,255);
}
h4
{
	font-weight: bold;
}
/** FIN Decoration de la premiere partie**/

/** Mise en place de la deuxieme partie gauche**/
.gauche h3
{
	display: flex;
	width: auto;
	height: 40px;
	align-items: center;
	justify-content: center;
	background-color: rgba(64,64,64,0.9);
	color: rgb(64,196,255); 
	margin-top: 0px
}
h4
{
	font-weight: bold;
}
aside h4
{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	word-wrap: break-word;
}
.section aside p
{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}
footer
{
	padding-bottom: 30px;
}
/** FIN Mise en place de la deuxieme partie gauche**/

/** Decoration de la deuxieme partie gauche**/
strong
{
	text-transform: uppercase;
}
aside p
{
	color: rgba(64,64,64,0.9);
}
aside em
{
	font-style: normal;
	font-weight: bold;
}
a
{
	color: rgba(64,64,64,0.9);
	text-decoration: none; 
}
.gauche aside h3
{
	font-size: x-large;
}
.gauche footer h3
{
	font-size: x-large;
}
footer .fas
{
	padding: 10px;
    border-radius: 100%;
    border: 2px solid rgba(64,64,64,0.9);	
}
/** FIN Decoration de la deuxieme partie gauche**/

/** Mise en place de la deuxieme partie droite**/
.boardpart
{
	display: flex;
}
.boardpartleft
{
	display: flex;
	width: 30%;
	padding-right: 25px;
}
.boardpartright
{
	width: 70%;
}
.reco
{
	display: flex;
	width: 100%;
	flex-direction: row;
	word-wrap: break-word;
	padding-bottom: 30px;
}
.recoleft, .recoright
{
	width: 50%;
}
.icones
{
	display: flex;
	width: 100%;
	justify-content: space-around;
}
/** FIN Mise en place de la deuxieme partie droite**/

/** Decoration de la deuxieme partie droite**/
.droite article
{
	padding-right: 50px;
	padding-left: 70px;
}
.leftpart .far
{
	padding-right: 30px;
}
.far, .fas
{
	padding-right: 20px;
}
.iconesdot
{
	padding-top: 15px;
}
h3 .fas
{
	font-size: larger;
	color: rgb(64,196,255)
}
.icones .fas
{
	color: rgba(64,64,64,0.9);
	font-size: 40px;
}
.iconesdot .fas
{
	font-size: xx-small;
	color: rgb(64,196,255)
}
.iconesdot .far
{
	font-size: smaller;
	color: rgb(64,196,255)
}
article h3
{
	border-bottom: 2px solid rgb(64,196,255);
	font-size: x-large;
}
article em
{
	font-style: normal;
	font-weight: bold;
}
article p
{
		color: rgb(64,64,64);
}
/** FIN Decoration de la deuxieme partie droite**/

/* pour les ecrans de petites tailles*/
@media screen and (max-width: 790px)
{
header .row
{
	flex-direction: column;
}
.section .row
{
	flex-direction: column-reverse;
}
.droite
{
	width: 100%;
}
.recoright, .recoleft
{
	width: 100%;
}
.gauche
{
	width: 100%;
}
header article
{
	padding-top: 0px;
}
header aside
{
	padding-top: 15px;
	padding-bottom: 15px;
}
h1
{
	font-size: 40px;
}
.row .droite article
{
	padding-left: 10px;
	padding-right: 10px;
}
.reco
{
	padding-left: 30px;
}
}
/* FIN pour les ecrans de petites tailles*/

/* pour les ecrans de tres petites tailles*/
@media screen and (max-width: 400px)
{
.reco
{
	flex-direction: column;
	padding-left: 20px;
}
.far, .fas
{
	padding-right: 5px;
}
.row .droite article
{
	padding-left: 5px;
	padding-right: 5px;
}
}
/* FIN pour les écrans de très petites tailles*/
