
/** Mise en place des boxs**/
*{
	box-sizing: border-box;
}
.container
{
	max-width: 1190px;
	width: 100%;
	margin: 0 auto;
	border: 2px grey solid;
}
.row
{
	display: flex;
}
.gauche
{
	flex: 0 0 30%;
	max-width:30%;
	min-width: 224px;
	background-color: rgb(64,196,255);
}
.droite
{
  	flex: 0 0 70%;
  	max-width: 70%;
}
/** FIN Mise en place des boxs**/

/** Mise en place de la premiere partie **/
.photo
{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 50px;
}
header
{
	display: flex;
	flex-wrap: wrap;
	height: 332px;
	align-content: center;
}
header
{
	padding-left: 70px;
}
h1
{
	margin: 0 0;
}
/** FIN Mise en place de la premiere partie **/

/** Decoration de la premiere partie**/
body
{
	font-family: Roboto, "Open sans", sans-serif;
}
img
{
    border-radius: 50%;
    border: 4px solid rgba(64,64,64,0.2);
}
h1
{
	font-size: 60px;
}
h2
{
	color: rgb(64,64,64);
}
 h1 em
{
  	font-style: normal;
  	color: rgb(64,196,255);
}
h2 em
{
	font-style: normal;
	border-bottom: 2px solid rgb(64,196,255);
}
/** FIN Decoration de la premiere partie**/

/** Mise en place de la deuxieme partie gauche**/
.gauche h3
{
	display:flex;
	width:auto;
	height: 40px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	background-color: rgba(64,64,64,0.9);
	color: rgb(64,196,255); 
}
aside .contact
{
	padding-left: 50px;
	padding-right: 50px;
	text-align: left;
}
aside .apropos
{
	padding-left: 50px;
	padding-right: 50px;
	text-align: justify;
}
footer
{
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-left: 70px;
	padding-right: 70px;
	text-align: justify;
}
/** FIN Mise en place de la deuxieme partie gauche**/

/** Decoration de la deuxieme partie gauche**/
strong
{
	text-transform: uppercase;
}
.contact, .apropos
{
	font-size: smaller;
}
/** FIN Decoration de la deuxieme partie gauche**/

/** Mise en place de la deuxieme partie droite**/
.boardpart
{
	display: flex;
}
.boardpartleft
{
	display: flex;
	width: 30%;
}
.boardpartright
{
	width: 70%;
	padding-left: 15px;
}
.reco
{
	display: flex;
	width: 100%;
	flex-direction: row;
}
.recoleft, .recoright
{
	width: 50%;
}
.icones
{
	display: flex;
	width: 100%;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
}
/** FIN Mise en place de la deuxieme partie droite**/

/** Decoration de la deuxieme partie droite**/
article
{
	padding-right: 50px;
	padding-left: 70px;
}
.leftpart .far
{
	padding-right: 30px;
}
.far
{
	padding-right: 20px;
}
.fas
{
	padding-right: 20px;
}
.iconesdot
{
	padding-top: 15px;
}
h3 .fas
{
	font-size: larger;
	color: rgb(64,196,255)
}
.icones .fas
{
	color: rgba(64,64,64,0.9);
	font-size: 50px;
}
.board
{
	font-size: smaller;
}
.iconesdot .fas
{
	font-size: xx-small;
}
.iconesdot .far
{
	font-size: smaller;
}
article h3
{
	border-bottom: 2px solid rgb(64,196,255);
}
/** FIN Decoration de la deuxieme partie droite**/

/* pour les ecrans de petites tailles*/
@media screen and (max-width: 790px)
{
.row
{
	flex-direction: column;
}
.column
{
	flex: 0 0 100%;
	max-width: 100%;
}
.row:nth-child(2)
{
	flex-direction: column-reverse;
}
.photo
{
	padding-top: 15px;
	padding-bottom: 15px
}
header
{
	height: 250px;
	padding-left: 30px;
	padding-right: 30px;
}
h1
{
	font-size: 40px;
}
.reco
{
	flex-direction: column;
	padding-left: 20px;
}
article
{
	padding-left: 30px;
	padding-right: 30px;
}
h3
{
	font-size: 1em;
}
}
/* FIN pour les ecrans de petites tailles*/

/* pour les ecrans de tres petites tailles*/
@media screen and (max-width: 400px)
{
h1
{
	font-size: 30px;
}
h3
{
	font-size: x-small;
}
.board
{
	font-size: x-small;
}
article
{
	padding-left: 10px;
	padding-right: 10px;
}
.far, .fas
{
	padding-right: 10px;
}
aside .contact
{
	padding-left: 30px;
}
aside .apropos
{
	padding-left: 30px;
	padding-right: 30px;
}
}
/* FIN pour les ecrans de tres petites tailles*/
